<div class="max-w-6xl mx-auto my-20 p-10">
  <p class="text-center py-6 text-xl font-bold">Editando artículo</h1>

  <%= render 'form' %>
  <%= link_to 'Back', articles_path, class:'bg-gray-300 hover:bg-gray-400 hover:font-bold text-gray-800  py-2 px-4 rounded' %>
</div>
