<div class="px-3 py-8 my-10 text-center">
  <p class="py-4 text-center font-bold text-2xl">Mostrando todos los artículos</p>
  
  <div class="py-10 mx-auto w-1/2 ">
    <div class="flex flex-col justify-center">
        <% @articles.each do |article| %>
            <div class="m-5 shadow-lg rounded-lg border-4 border-yellow-500">
              <%= link_to article do %>
                <%= image_tag(article.photo, class:"object-fill m-0") %>
                <p class="text-center font-bold text-lg md:text-xl  bg-yellow-500 py-8"><%=article.title %></p>
              <%end%>
            </div>
        <% end %>
    </div>
  </div>
</div>