<nav class="p-1 bg-white shadow md:flex md:items-center md:justify-around">
  <ul class="md:flex md:items-center text-yellow-500">
    <li class="mx-5 text-lg font-bold my-6 md:my-0">
      <a href="#" class="text-x1 hover:text-cyan-500 duration-500"> INICIO</a>
    </li>
    <li class="mx-5 text-lg font-bold my-6 md:my-0">
      <a href="#" class="text-x1 hover:text-cyan-500 duration-500"> EQUIPOS</a>
    </li>

    <div class="mx-5">
      <span class="text-2x1 font-[Poppins] cursor-pointer">
        <img class="h-32 inline" src="https://pbs.twimg.com/profile_images/1445361197331668992/I3I9E2gA_400x400.png" alt="inter-lima">
      </span>
    </div>

    <li class="mx-5 text-lg font-bold my-6 md:my-0">
      <a href="#" class="text-x1 hover:text-cyan-500 duration-500"> NOSOTROS</a>
    </li>

    <li class="mx-5 text-lg font-bold my-6 md:my-0">
      <a href="#" class="text-x1 hover:text-cyan-500 duration-500"> CONTACTO</a>
    </li>
  </ul>

</nav>

<h1> Blog de Inter de Lima</h1>
