<div class="m-auto">
  <div class="flex flex-col items-center text-center">
    <p class="text-8xl md:text-9xl font-bold text-yellow-500 mb-4">  406 </p>
    <p class="text-4xl md:text-6xl mb-4">No se pudo cargar de manera apropiada su solicitud</p>
    <p class="text-2xl md:text-4xl mb-4">No te preocupes, puedes regresar a la página anterior:</p>
    <%= link_to 'Regresar', :back, class:'bg-gray-300 hover:bg-gray-400 hover:font-bold text-gray-800 mt-5 py-2 px-4 rounded' %>
  </div>
</div>