<nav class="px-3 py-6 my-5 bg-black flex md:items-center justify-around relative border-b-4 border-yellow-500"> <!--shadow md:flex md:items-center md:justify-around-->
  <!--contiene elementos del navbar-->
      <ul class="bg-black md:flex md:items-center text-yellow-500 z-[-1] md:z-auto md:static absolute">
      <%# primary menu %>
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="/" class="text-x1 hover:underline"> INICIO</a>
        </li>
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="#" class="text-x1 hover:underline"> EQUIPOS</a>
        </li>
      </ul>

      <!--logo-->
      <div class="mx-5 absolute top-1">
        <span class="cursor-pointer">
          <img class="h-32 inline" src="https://pbs.twimg.com/profile_images/1445361197331668992/I3I9E2gA_400x400.png" alt="inter-lima">
        </span>
      </div>

      <%# secondary menu %>
      <ul class="bg-black md:flex md:items-center text-yellow-500 z-[-1] md:z-auto md:static absolute">
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="#" class="text-x1 hover:underline"> NOSOTROS</a>
        </li>
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="#" class="text-x1 hover:underline"> CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
