<nav class="px-3 py-6 bg-black flex items-center justify-around relative border-b-4 border-yellow-500"> <!--shadow md:flex md:items-center md:justify-around-->
  <!--contiene elementos del navbar-->
      <ul class="bg-black md:flex md:items-center text-yellow-500 z-[-1] md:z-auto md:static absolute">
      <%# primary menu %>
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="/" class="text-base md:text-xl hover:underline"> INICIO</a>
        </li>
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="/home#teams" class="text-x1 md:text-lg sm:text-base hover:underline"> EQUIPOS</a>
        </li>
      </ul>

      <!--logo-->
      <div class="mx-5 absolute top-1 z-10">
        <span class="cursor-pointer">
          <%= link_to image_tag('logo_oscuro.png', class:'h-28 inline md:h-32'), home_path %>
        </span>
      </div>

      <%# secondary menu %>
      <ul class="bg-black md:flex md:items-center text-yellow-500 z-[-1] md:z-auto md:static absolute">
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="/about" class="text-x1 md:text-lg sm:text-base hover:underline" > NOSOTROS</a>
        </li>
        <li class="mx-5 text-base font-bold my-6 md:my-0">
          <a href="/home#contact" class="text-x1 md:text-lg sm:text-base hover:underline"> CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
